.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  ul li{
    list-style: none;
  }
  
  ul li a{
    padding: 0 40px;
  }
  
  ul .logo{
    text-align: center;
  }
  
  #photos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img{
    padding: 13px 0;
  }
  
  @media (min-width: 35em){
    img{
      padding: 13px;
    }
    
    #photos{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  }
  
  @media (min-width: 55em){
    .typography a,.ui a{
      display: flex;
    }
  }